*{
    margin: 0;
    padding: 0;
}
/* img{
    width: 50%;  
    /* width will be 50% of the parent element(body)
} */

#div1{
    background-color: pink;
    height: 100px;
    width: 100px;
    /* display: inline-block; */
    font-size: 20px;
}
#div2{
    background-color: rgb(112, 26, 40);
    height: 100px;
    font-size: 2em;
    width: 1em;
    /* width hojaygi same as font-size that is 40px */
    /* agar width ko 2em likha tho twice of this element(div2) ka font-size that is 80px */
    width: 5rem;
    /* width iski 80 pixel hojaygi, kyuki root element ki font-size is 16px and uska 5 times is 80px */
}
#div3{
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin-top: 50px;
    display: inline-block;
    border: 2px solid brown;
    position: static;

}
#div4{
    height: 100px;
    width: 100px;
    background-color: aqua;
    display: inline-block;
    border: 2px solid brown;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 5;

}
#div5{
    height: 100px;
    width: 100px;
    background-color: aqua;
    display: inline-block;
    border: 2px solid brown;
    /* position: absolute; */
    position: relative;
    top: 10px;
    z-index: 6;

}
#div6{
    height: 100px;
    width: 100px;
    background-color: aqua;
    display: inline-block;
    border: 2px solid brown;
    /* position: fixed; */
    top: 0px;
}
#div7{
    height: 100px;
    width: 100px;
    background-color: aqua;
    display: inline-block;
    border: 2px solid brown;
    position: fixed;
    bottom: 0px;
}
